.container {
  backdrop-filter: blur(20px);
  background-color: var(--bg-notification);
  border-radius: 14px;
  display: flex;
  padding: 9px 16px;
  gap: 12px;
  align-items: center;
  animation: animationNotification 6s var(--transition-standard-easing);
}

.content {
  display: flex;
  align-items: center;
  font: var(--text14);
  width: 100%;
}

.icon {
  height: 28px;
  & > img {
    max-width: 100%;
    max-height: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  color: var(--white);
  flex: 1;
  letter-spacing: -0.15px;
}

.button {
  color: var(--accent-cyan);
  cursor: pointer;
}

@keyframes animationNotification {
  from {
    transform: translate(0, 30%);
    opacity: 0.7;
  }
  6% {
    transform: translate(0, 0);
    opacity: 1;
  }
  94% {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(0, 100%);
    visibility: hidden;
    opacity: 0;
  }
}
