.container {
  position: relative;
}

.labelWithIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--input-label-color);
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all var(--transition-standard-in);

  &.withValue,
  &.focused {
    left: 0;
    transform: translate(8px, -50%);
  }
}

.label {
  &.withValue {
    display: none;
  }
}

.input {
  background-color: var(--input-bg-color);
  border: none;
  width: 100%;
  padding: 7px 8px 7px 30px;
  border-radius: 10px;
  outline: none;
  caret-color: var(--input-label-color);
  color: var(--text-color);
}
