.star {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  height: 100px;
  width: 100px;
  animation-name: star;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes star {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
}
