.container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.photo {
  margin: 8px 12px 8px 6px;
}

.content {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 8px;
  padding-bottom: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.name {
  display: flex;
  align-items: center;
  gap: 6px;
}

.myProfile {
  background-color: #8e8e9333;
  color: var(--label-secondary);
  backdrop-filter: blur(50px);
  padding: 0 4px;
  border-radius: 4px;
  font: var(--text11);
  letter-spacing: -0.1px;
}

.icon {
  height: 12px;
  width: 11px;
}

.gifts {
  display: flex;
  align-items: center;
  gap: 6px;
}

.giftsReceived {
  font: var(--text13);
  color: var(--primary);
  letter-spacing: -0.1px;
}

.rank {
  font: var(--text22);
}
