.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.title {
  font: var(--text10);
  letter-spacing: 0.1px;
  color: var(--tab-bar-label);
}

.active * {
  color: var(--primary);
  & path {
    fill: var(--primary);
  }
}

.icon {
  height: 26px;
}
