.dialog {
  width: 100%;
  border: none;
  background-color: var(--bg-secondary);
  bottom: 0;
  z-index: 2000;
  padding: 16px;
  margin-top: 100px;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
}