.dialog {
  position: fixed;
  width: 100%;
  border: none;
  background-color: var(--modal-bg-color);
  padding: 16px;
  margin: auto 0 0;
  max-width: 100%;
  outline: none;
  animation: modalAnimation var(--transition-standard-in);
}

.dialog::backdrop {
  animation: animationBackdrop var(--transition-standard-in);
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: 2;
}

@keyframes modalAnimation {
  from {
    transform: translate(0, 30%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animationBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
