.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 10px 68px;
}

.separator {
  height: 0.33px;
  background-color: var(--separator);
  margin: 0 -12px;
}

.leaderboard {
  & > *:not(:last-child) > *:last-child {
    border-bottom: 0.33px solid var(--separator);
  }
}
