.container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 12px 0;
}

.title {
  color: var(--label-secondary);
  font: var(--text13);
}

.image {
  position: relative;
}

.market {
  background-color: var(--accent-green);
}

.paperPlane {
  background-color: var(--accent-blue);
}

.actionTypeIcon {
  position: absolute;
  height: 18px;
  width: 18px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: -2px;
}
