.container input.mobileToggle {
  opacity: 0;
  position: absolute;
}

.container input.mobileToggle + label {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all var(--transition-standard-in);
  height: 32px;
  width: fit-content;
  border-radius: 99px;
  background-color: var(--toggle-bg-color);
  display: flex;
  padding: 2px;
  cursor: pointer;
}

.container input.mobileToggle + label > .value {
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all var(--transition-standard-in);
}

.container input.mobileToggle + label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow:
    0 3px 1px 0 #0000000a,
    0 3px 8px 0 #0000001f;
  transition: all var(--transition-standard-in);
  background: var(--toggle-active-bg-color);
  width: 50%;
  height: calc(100% - 5px);
  top: 2px;
  left: 2px;
  border: 0.5px solid #0000000a;
  border-radius: 99px;
}

.container input.mobileToggle:checked + label:after {
  left: calc(100% - 2px);
  transform: translate(-100%, 0);
}

.container input.mobileToggle:checked + label .value0 {
  color: var(--label-secondary);
}

.container input.mobileToggle:not(:checked) + label .value1 {
  color: var(--label-secondary);
}
