@font-face {
  font-family: SFProMedium;
  src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
  font-family: SFProRegular;
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: SFProSemibold;
  src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

:root {
  --primary: #007aff;
  --black: #000000;
  --white: #ffffff;
  --label-secondary: #8e8e93;
  --tab-bar-label: #545458a6;
  --tab-bar: #f1f1f2bf;
  --bg-secondary: #efeff3;
  --label-date: #6d6d71;
  --separator: #3c3c435c;
  --accent-gold: #f1aa05;
  --accent-purple: #af51de;
  --accent-blue: #007aff;
  --accent-green: #35c759;
  --accent-cyan: #5ac8fa;

  --menu-height: 85px;

  --text12: normal normal 400 normal 12px/18px SFProRegular, sans-serif;
  --text13: normal normal 400 normal 13px/18px SFProRegular, sans-serif;
  --text14: normal normal 500 normal 14px/22px SFProRegular, sans-serif;
  --text15: normal normal 400 normal 15px/22px SFProRegular, sans-serif;
  --text17: normal normal 400 normal 17px/22px SFProRegular, sans-serif;
  --text17m: normal normal 500 normal 17px/22px SFProMedium, sans-serif;
  --text17b: normal normal 600 normal 17px/22px SFProSemibold, sans-serif;
  --text24b: normal normal 590 normal 24px/32px SFProSemibold, sans-serif;

  --text-color: var(--black);
  --bg-color: var(--white);
  --toggle-bg-color: var(--bg-secondary);
  --toggle-active-bg-color: var(--white);
  --table-bg-color: var(--white);
  --modal-bg-color: var(--bg-secondary);
  --modal--close-color: #9e9ea1;
  --modal--close-bg-color: #e3e3e8;
  --input-label-color: #3c3c4399;
  --input-bg-color: var(--bg-secondary);
  --bg-notification: #2d2d2dcc;
}

[data-theme="dark"] {
  --text-color: var(--white);
  --bg-color: #1c1c1e;
  --tab-bar: #1e1e1ebf;
  --bg-secondary: #2c2c2e;
  --toggle-bg-color: var(--black);
  --toggle-active-bg-color: #2c2c2e;
  --table-bg-color: #2c2c2e;
  --modal-bg-color: #1c1c1e;
  --modal--close-color: var(--label-secondary);
  --modal--close-bg-color: #2c2c2e;
  --input-label-color: var(--label-secondary);
  --input-bg-color: #00000080;
  --bg-notification: #000000cc;
}

* {
  box-sizing: border-box;
  letter-spacing: -0.43px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  font: var(--text17);
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-overflow-scrolling: touch;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.background-deliciousCake {
  background: linear-gradient(#fe9f4133, #fe9f411a);
}

.background-blueStar {
  background: linear-gradient(#007aff33, #007aff0d);
}

.background-redStar {
  background: linear-gradient(#ff474733, #ff47470d);
}

.background-greenStar {
  background: linear-gradient(#46d10033, #46d1000f);
}

dialog {
  color: inherit;
}

dialog::backdrop {
  opacity: 0.3;
  background-color: black;
  cursor: pointer;
}
