@font-face {
  font-family: SFProMedium;
  src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
  font-family: SFProRegular;
  src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: SFProSemibold;
  src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

:root {
  --primary: #007aff;
  --black: #000000;
  --white: #ffffff;
  --label-secondary: #8e8e93;
  --tab-bar-label: #545458a6;
  --tab-bar: #f1f1f2bf;
  --bg-secondary: #efeff3;
  --label-date: #6d6d71;
  --separator: #3c3c435c;
  --accent-gold: #f1aa05;
  --accent-purple: #af51de;
  --accent-blue: #007aff;
  --accent-green: #35c759;
  --accent-cyan: #5ac8fa;
  --bg-notification: #2d2d2dcc;

  --text12: normal normal 400 normal 12px/18px SFProRegular, sans-serif;
  --text13: normal normal 400 normal 13px/18px SFProRegular, sans-serif;
  --text14: normal normal 500 normal 14px/22px SFProRegular, sans-serif;
  --text15: normal normal 400 normal 15px/22px SFProRegular, sans-serif;
  --text17: normal normal 400 normal 17px/22px SFProRegular, sans-serif;
  --text17m: normal normal 500 normal 17px/22px SFProMedium, sans-serif;
  --text17b: normal normal 600 normal 17px/22px SFProSemibold, sans-serif;
  --text24b: normal normal 600 normal 24px/32px SFProSemibold, sans-serif;
}

* {
  box-sizing: border-box;
  letter-spacing: -0.43px;
}

body {
  padding: 0;
  margin: 0;
  font: var(--text17);
}

.background-deliciousCake {
  background: linear-gradient(#fe9f4133, #fe9f411a);
}

.background-blueStar {
  background: linear-gradient(#007aff33, #007aff0d);
}

.background-redStar {
  background: linear-gradient(#ff474733, #ff47470d);
}

.background-greenStar {
  background: linear-gradient(#46d10033, #46d1000f);
}

dialog::backdrop {
  opacity: 0.3;
  background-color: black;
}
